
    <%- include("../includes/head.ejs")  %> 
    <%- include('../includes/header.ejs')  %> 
   

        <div id="fullpage" class="fullpage-default">

            <div class="section animated-row" data-section="slide01">
                <div class="section-inner">
                    <div class="welcome-box">
                        <span class="welcome-first animate" data-animate="fadeInUp">Bienvenidos</span>
                        <h1 class="welcome-title animate" data-animate="fadeInUp">JAC Mirador del Doce</h1>
                        <p class="animate" data-animate="fadeInUp">Los datos aqui despositados se encuentran previamente autorizados por sus titulares, al igual, se encuentran protegidos y regidos por la ley 1581 de 2012 que constituye el marco general de la protección de los datos personales en Colombia.</p>
                        <!--<div class="scroll-down next-section animate data-animate="fadeInUp""><img src="resources/img/galery/mouse-scroll.png" alt=""><span>Clic para iniciar sesión</span></div>-->
                        <!--<div class="animate data-animate="fadeInUp><a href="login"><img src="resources/img/galery/mouse-scroll.png" alt=""><span>Iniciar Sesión</span></a></div>-->
                        
                    </div>
                </div>
            </div>

          
       

            <%- include("../includes/footer.ejs") %>
            <!-- Iniciar alerta -->
          
          <% if(typeof alert !="undefined" ) { %>
            <script>
              Swal.fire({
                title: '<%= alertTitle  %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: '<%= showConfirmButton %>',
                timer: 2500
              }).then(() => {
                window.location = '/<%= ruta %>'
              })
            </script>
          <% } %>