<%- include("../includes/head.ejs") %>
  <%- include('../includes/header.ejs') %>

    <div id="fullpage" class="fullpage-default">

      <div class="section animated-row" data-section="slide01">
        <div class="section-inner">
          <div class="welcome-box">
            <span class="welcome-first animate" data-animate="fadeInUp">Ingresaste</span>
            <h1 class="welcome-title animate" data-animate="fadeInUp">JAC Mirador del Doce</h1>
            <p class="animate" data-animate="fadeInUp">Los datos aqui despositados se encuentran previamente autorizados
              por sus titulares, al igual, se encuentran protegidos y regidos por la ley 1581 de 2012 que constituye el
              marco general de la protección de los datos personales en Colombia.</p>
            <div class="animate data-animate=" fadeInUp""><a href="registroActas"><img
                  src="resources/img/galery/mouse-scroll.png" alt=""><span>Clic para registrar Actas</span></a></div>
          </div>
        </div>
      </div>



      <div class="section animated-row" data-section="slide02">
        <div class="section-inner">
          <div class="row justify-content-center">
            <div class="col-md-8 wide-col-laptop">
              <div class="title-block animate" data-animate="fadeInUp">
                <span></span>
                <h2></h2>

              </div>



              <form class="row g-3" action="registroActas" method="POST">


                <div class="row mb-3">
                  <label for="inputUsuario" class="col-sm-4 col-form-label">Usuario que Registra</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputUsuario">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputFecha" class="col-sm-3 col-form-label">Fecha de Registro</label>
                  <div class="col-sm-10">
                    <input type="date" class="form-control" id="date">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="ejemplo_archivo_1" class="col-sm-4 col-form-label">Adjuntar Archivo</label>
                  <div class="col-sm-10">
                    <input type="file" class="form-control" id="ejemplo_archivo_1">
                    <input type="checkbox"> Activa esta casilla
                  </div>
                </div>

                <div class="checkbox">
                  <label class="col-sm-3 col-form-label">
                    <input type="checkbox"> Activa esta casilla
                  </label>
                </div>

                <div>
                  <button type="submit" class="btn btn-default">Enviar</button>
                </div>





              </form>

            </div>

            <div class="scroll-down next-section animate data-animate=" fadeInUp""><a href="nuevosAfiliados"></a><img
                src="resources/img/galery/mouse-scroll.png" alt=""><span>Clic para realizar registro de afiliados</span>
            </div>
          </div>
        </div>
      </div>



      <div class="section animated-row" data-section="slide03">
        <div class="section-inner">
          <div class="about-section">
            <div class="row justify-content-center">
              <div class="col-lg-8 wide-col-laptop">
                <div class="row">
                  <div class="col-md-6">


                    <form class="row g-3">

                      <div class="col-md-6">
                        <label for="inputNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="inputNombre">
                      </div>
                      <div class="col-md-6">
                        <label for="inputApellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="inputApellido">
                      </div>
                      <div class="col-md-6">
                        <label for="inputEdad" class="form-label">Edad</label>
                        <input type="text" class="form-control" id="inputEdad">
                      </div>
                      <div class="col-md-6">
                        <label for="inputDocumento" class="form-label">Número de Documento</label>
                        <input type="text" class="form-control" id="inputDocumento">
                      </div>
                      <div class="col-md-6">
                        <label for="inputTeléfono" class="form-label">Teléfono</label>
                        <input type="tel" class="form-control" id="inputTeléfono">
                      </div>
                      <div class="col-md-6">
                        <label for="inputDirección" class="form-label">Dirección</label>
                        <input type="text" class="form-control" id="inputDirección">
                      </div>
                      <div class="col-md-6">
                        <label for="inputProfesión" class="form-label">Profesión</label>
                        <input type="text" class="form-control" id="inputProfesión">
                      </div>
                      <div class="col-md-6">
                        <label for="rol">Comité</label>
                        <select name="rol" id="rol" class="form-control">
                          <option value=""></option>
                          <option value="medioAmbiente">Medio ambiente</option>
                          <option value="recreoDeporte">Recreodeporte</option>
                          <option value="educación">Educación</option>
                          <option value="infraestructura">Infraestructura</option>
                          <option value="salud">Salud</option>
                          <option value="cultura">Cultura</option>
                        </select>
                      </div>
                      <div class="col-md-12">
                        <p><textarea name="comentario" rows="5" cols="100"
                            class="form-control">Escribe aquí tu comentario: </textarea></p>
                      </div>

                      <div class="row mb-3">
                        <label for="ejemplo_archivo_1" class="col-sm-4 col-form-label">Adjuntar firma
                          digitalizada</label>
                        <div class="col-sm-12">
                          <input type="file" class="form-control" id="ejemplo_archivo_1">
                        </div>
                      </div>


                      <div class="col-12">
                        <label for="rol" class="form-label">Rol de quien registra</label>
                        <p></p>
                        <select name="rol" id="rol" class="form-control">
                          <option value="vacio"></option>
                          <option value="admin">Admin</option>
                          <option value="Presidenta">Presidenta</option>
                          <option value="Secretaria">Secretaria</option>
                        </select>
                      </div>

                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> El titular de los datos autoriza el uso y tratamiento de ellos, para
                          fines exclusivos de la JAC Mirador del Doce
                        </label>
                      </div>


                      <div class="col-12">
                        <button onclick="dato();" type="submit" class="btn btn-primary">Registrar</button>
                      </div>

                    </form>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <%- include("../includes/footer.ejs") %>
      <!-- Iniciar alerta -->
    
    <% if(typeof alert !="undefined" ) { %>
      <script>
        Swal.fire({
          title: '<%= alertTitle  %>',
          text: '<%= alertMessage %>',
          icon: '<%= alertIcon %>',
          showConfirmButton: '<%= showConfirmButton %>',
          timer: 2500
        }).then(() => {
          window.location = '/<%= ruta %>'
        })
      </script>
    <% } %>